.arrow {
  background-color: transparent;
  background-image: url(../assets/fleche.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 70px;
}

.arrow:hover {
  cursor: pointer;
}
