ul {
  list-style: none;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-flow: column;
  background-color: #2a2e33;
  color: #e93e3a;
  border: solid;
  border-radius: 15px;
  position: absolute;
  width: fit-content;
  top: 45px;
}

li {
  margin-bottom: 25px;
  color: white;
  text-align: left;
  font-size: 1.2rem;
}
