/* ---------- Css du formulaire de creation du cocktails ---------- */

h1 {
  font-family: 'Kalam', cursive;
  font-size: 20pt;
}

h3 {
  text-align: left;
}

/* ---------- Le formulaire ---------- */

.formulaire {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  height: 960px;
  width: 730px;
}

/* ---------- Partie Input ---------- */

input {
  height: 30px;
  border-radius: 7px;
  font-size: 18px;
  border-color: #e93e3a;
  font-family: 'Economica', Arial, Helvetica, sans-serif;
  align-items: stretch;
}

#name {
  width: 100%;
}

#ingredient {
  width: 100%;
}

#preparation {
  vertical-align: top;
  height: 200px;
  width: 100%;
  border-color: #e93e3a;
  border-radius: 7px;
  font-size: 18px;
  font-family: 'Economica', Arial, Helvetica, sans-serif;
}

/* ---------- Partie button Submit ---------- */

.submitCocktails {
  margin: 10px;
  margin-left: 40%;
  border-radius: 1em;
  width: 100px;
  background-color: #e93e3a;
  border: none;
  color: white;
  font-weight: 600;
  font-family: 'Economica', Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

/* ---------- Partie Responsive du Formulaire ---------- */

@media only screen and (max-width: 770px) {
  form {
    width: 280px;
    height: 600px;
    margin-left: 15%;
  }

  .submitCocktails {
    margin-left: 30%;
  }
}
