/* ------ Css du Formulaire de Contact ------ */
.textContact {
  margin-bottom: 20px;
  padding: 0;
}

#name {
  width: 100%;
}

#email {
  width: 100%;
}

#objet {
  width: 100%;
}

#message {
  width: 100%;
  height: 200px;
  border-color: orange;
  border-radius: 7px;
  font-size: 18px;
  font-family: 'Economica', Arial, Helvetica, sans-serif;
}
